apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ .Release.Name }}-env"
  labels:
    app: {{ template "hyperglance.name" . }}
    chart: {{ template "hyperglance.chart" . }}
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
data:
  DEPLOYMENT_TARGET: 'k8s'
  APACHE_VERIFY_CLIENT: '{{ .Values.httpdSSL.validateClient }}'
  SAML_ENABLED: '{{ .Values.saml.enabled }}'
{{- range $key, $value := .Values.hyperglanceEnvVars }}
  {{ $key }}: {{ $value | quote }}
{{- end }}
{{- include "appendRuntimeParameters" (dict "configmap" .Values.advanced_runtime_properties "enabled" .Values.advanced_runtime_properties.enabled) | nindent 2 }}

